body {
    margin: 0; 
 }

 .Mainfeed {
    background-color:#BEE2EB;
     margin: 2%;
    display:flex;
    padding: 40px;
    justify-content: space-evenly;
    border-radius: 4%;
    border-color:#329EB2;
    border-style: solid;
    flex-wrap: wrap;
   
 } 
 .Messagebox{
     display: flex;
     flex-direction: column;
     align-content: space-between;
     flex-wrap: wrap;
    
    
 }

 .Mainleft{
     display: flex;
     flex-direction: column;
     margin:10px;
     justify-content:space-between;
     flex-wrap: wrap;
    
 }
 .Banner{
     margin-top: 10px;
     margin-left: 10px;
 }
 .Name{
     font-size: xx-large;
  
     display: flex;
     align-items: center;
     background-color: #fccf9bda;
     color: #267e8d;
     border-radius: 1%;
     margin-left: 40px;
     margin-top: 0;
    padding: 10px;
    display: inline-block;
    border:solid;
    border-color: rgb(212, 177, 130);
     
 }
 .Newsfeed{
     display: flex;
     flex-direction: column;
     color:#18525c
 }
 .Content{
  
    display: flex;
  flex-direction: column;
    background-color:#ffffff;
    padding: 80px;
    max-height: 90vh;
    max-width: 50vw;
    border-radius: 2%;
    border-color: #267e8d;
    border-style: solid;
    border-width:3px ;
    margin-bottom: 5px;
    flex: 1 0 auto;
    height: auto;
    flex-wrap: wrap;
 }
 .Contentflex{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: center;
 } 
.TopDetails{
    color: #18525c;
    display: flex;
    padding: 10px;  
     flex-direction: column;
}
.contentP{
    display: flex;
   
  
    padding: 55px;
    max-width: 90%;
    margin: 5px;
    /* border: 1px solid #b5dae38a;
    background-color:#67bfdc46;  
    border-radius: 3px; */
}