body {
    margin: 0; 
 }

 .Mainfeed {
    background-color:#BEE2EB;
     margin: 10%;
    display:flex;
    padding: 100px;
    justify-content: space-between;
    border-radius: 5%;
    border-color:#329EB2;
    border-style: solid;
 } 
 .Messagebox{
     display: flex;
     flex-direction: column;
     align-content: space-between;
    
 }
 .Message1 {
    background-color:#ffffff;
    padding: 50px;
    max-height: 70vh;
    max-width: 80vw;
    border-radius: 10%;
    border-color: black;
    border-style: solid;
    border-width:0.5px ;
    margin-bottom: 5px;
    flex: 1 0 auto;
    height: auto;
 }
.Message1:before{
   content: '';
   display: block;
   padding-top: 80%;
}
 .happyguy{
     display: flex;
     flex-direction: column;
 }
 .something{
     margin: 100px;
 }