
@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@1,400;1,700&display=swap');
body {
    margin: 20px; 
    color:#192A59;
    font-family: 'Sansita', sans-serif;
  
 }
.Profile{
    display: flex;
    flex:stretch;
    flex-wrap: wrap;
     background-color: #eeeded ;
     font-family: 'Sansita', sans-serif;
     align-items: center;
}
p{
    font-family: 'Sansita', sans-serif;
    font-weight: 300;
}
h3{
    font-family: 'Sansita', sans-serif;
font-weight: 700;
font-size: xx-large;
text-align: center;
margin-bottom: 20px;
}
.ProfilePic{
     background-color:#eeeded ;
     align-self:flex-start;
   
    
}
.ProfileContent{
    margin:10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:white;
    max-height: 100%;
    flex-grow: 1;
    align-items: center;
}




.Message2 {
  

   background-color:#BEE2EB;
   border-radius: 20%;
   border-style: solid;
   border-color:#329EB2 ;
   margin:20px;
   margin-left:50px;
   padding: 100px;
   width: 290px;
   height: 110px;
   flex-grow: 2 ;
   align-self: center;
}


.Newsfeed{
    display: flex;
    flex-direction: column;
    color:#18525c;
    align-self: center;
    align-items: center;
}

.ContentinProfile{
    display: flex;
    align-self: center;
}