@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800&display=swap');


.input{
    background-color:#d0e4e9;
    border-radius: 15%;
    border-style: solid;
    border-color:#116d7d ;
    border-width: 4px;
    color: #116d7d;
   font-size: medium;
    margin:20px;
    padding: 120px;
    width: 250px;
    height: 100px;
    flex-grow: 2 ;  
    font-weight: 300;
    flex-direction: column;


}
.Value{
    background-color:#d0e4e9;
    border-radius: 15%;
    border-style: solid;
    border-color:#116d7d ;
    border-width: 4px;
    color: #116d7d;
   font-size: medium;
    margin:20px;
    padding: 120px;
    width: 250px;
    height: 100px;
    flex-grow: 2 ;  
    font-weight: 300;
    flex-direction: column;

  

}